<p id="notice"><%= notice %></p>

<p>
  <strong>Asset:</strong>
  <%= @rental.asset_id_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id_id %>
</p>

<p>
  <strong>Rented by:</strong>
  <%= @rental.rented_by_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rental.end_date %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
